<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Placeholder</title>
  </head>

  <body>
    <h1>Edit Product</h1>
    <form action="/products/<%=product._id %>?_method=PUT" method="POST"></form>
        Name: <input type="text" name="name" value="<%=product.name%>">
        Description: <input type="text" name="description" value="<%=product.description%>">
        Image: <input type="text" name="" value="<%=product.img%>">
        Price: <input type="number" name="" value="<%=product.price%>">
        Quantity: <input type="number" name="" value="<%=product.quantity%>">
      <br />
      <input type="submit" value="Submit Changes" />
    </form>
  </body>
</html>