<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/products">Back to Product HomePage</a>
    </nav>
    <h1> Name:<%=product.name %></h1>
    <img src="<%= product.img %>"> 
    <h2>Price: $<%= product.price%></h2>
    <h2>Quantity: <%= product.qty%></h2>
    <h3>Description: <%= product.description%></h3>

</body>
</html>